<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>home</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="dist/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="dist/css/admin.css">
  <link rel="stylesheet" href="plugins/components/ui-bootstrap-0.13.1-SNAPSHOT/ui-bootstrap-0.13.1-SNAPSHOT-csp.css">
  <!-- Morris charts -->
  <link rel="stylesheet" href="plugins/components/morris.js/morris.css">
  <!-- timepicker -->
  <link rel="stylesheet" type="text/css" href="plugins/timepicker/dateRange.css"/>
  <link rel="stylesheet" type="text/css" href="plugins/timepicker/monthPicker.css"/>
  <!-- DataTables -->
  <link rel="stylesheet" href="plugins/components/datatables/media/css/dataTables.bootstrap.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" ng-controller="customersCtrl">
  <header class="main-header">

    <!-- Logo -->
    <a ui-sref="home" href="#/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">爱婴无价</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>爱婴无价</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu"><a style="line-height:38px;width:100px;" class="btn btn-info btn-flat" ng-click="logout();"><span class="fa fa-sign-out"></span>退出</a></div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>爱婴无价</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">header</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a ui-sref="home" href="#/home"><i class="fa fa-university"></i><span>Home</span></a></li>
        <li class="treeview" class="active">
          <a href="javascript:volid(0);"><i class="fa fa-pie-chart"></i> <span>广告模块</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="active"><a ui-sref="AdManagement" href="#/AdManagement"><i class="fa fa-circle-o"></i>广告管理</a></li>
            <li class="active"><a ui-sref="data_repot" href="#/data_repot"><i class="fa fa-circle-o"></i>数据报表</a></li>
            <li class="active"><a ui-sref="Advertising" href="#/Advertising"><i class="fa fa-circle-o"></i>投放广告</a></li>
            <li><a ui-sref="Newadvertising" href="#/Newadvertising"><i class="fa fa-circle-o"></i>新建广告</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ui-view id="dataAd">
    
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->




<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.0 -->
<script src="plugins/components/jquery/dist/jquery.min.js"></script>
<!-- qiniujs -->
<script src="plugins/components/plupload/js/plupload.full.min.js"></script>
<script src="plugins/components/qiniu-bower/src/qiniu.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- angular.js -->
<script src="plugins/components/angular/angular.js"></script>
<script src="plugins/components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="plugins/components/angular-resource/angular-resource.min.js"></script>
<!-- ui 弹窗 -->
<script src="plugins/components/ui-bootstrap-0.13.1-SNAPSHOT/ui-bootstrap-tpls-0.13.1-SNAPSHOT.min.js"></script>
<!-- timepicker -->
<script src="plugins/timepicker/dateRange.js"></script>
<script src="plugins/timepicker/monthPicker.js"></script>
<!-- Morris.js charts -->
<script src="plugins/components/raphael/raphael.min.js"></script>
<script src="plugins/components/morris.js/morris.min.js"></script>
<!-- angular-morris-chart-->
<script src="plugins/components/angular-morris-chart/src/angular-morris-chart.min.js"></script>
<!-- datatables -->
<script src="plugins/components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="plugins/components/datatables/media/js/dataTables.bootstrap.min.js"></script>
<!-- 主页模块 -->
<script src="dist/js/home.js"></script>
<!-- 过滤 -->
<script src="dist/js/ngfilter.js"></script>
<!-- 广告管理模块 -->
<script src="dist/js/AdManagement.js"></script>
<!-- 数据报表模块 -->
<script src="dist/js/datarepot.js"></script>
<!-- 投放广告模块 -->
<script src="dist/js/advertising.js"></script>
<!-- 新建广告模块 -->
<script src="dist/js/newad.js"></script>

</body>
</html>
