<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  

  <section class="content-header">
      <h1>广告管理</h1>
      <ol class="breadcrumb">
        <li><a ui-sref="home" href="#/home"><i class="fa fa-university"></i>主页</a></li>
        <li class="active">广告管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" ng-controller="AddStyleCtrl">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body box-main">
              <div class="select-wrap">
                <select class="form-control" ng-model="place" ng-init="place=''">
                    <option value="" selected>全部广告位</option>
                    <option ng-repeat="x in result" value="{{ x.name }}">{{ x.name }}</option>
                    
                  </select>
                  <select class="form-control" ng-model="stas" ng-init="stas=''">
                    <option value="" selected>全部状态</option>
                    <option value="0">未投放</option>
                    <option value="4">暂停中</option>
                    <option value="2">投放中</option>                   
                  </select>
                  <a ui-sref="Newadvertising" href="#/Newadvertising"><button type="button" class="btn btn-primary">+添加部署</button></a>
              </div>
              <div class="buttons-wrap">
                  <span><input type="checkbox" id="selAll" onclick="selectAll();"> 全选</span>
                  <button type="button" class="btn btn-info state-disabled btn0"  value="4" disabled ng-click="updatead($event);">暂停</button>
                  <a ui-sref="Advertising_first({id: selected})" href="#/Advertising_second" id="putIn" class="btna">
                    <button type="button" class="btn btn-info state-disabled btn1" value="开启" disabled>投放</button> 
                  </a>
                  <a ui-sref="Advertising_second({id: selected})" href="#/Advertising_second" id="putIn" style="display: none;" class="btnb">
                    <button type="button" class="btn btn-info state-disabled btn1 btnb" value="开启" disabled>投放</button> 
                  </a>
                  <button type="button" class="btn btn-info state-disabled btn2" value="5" disabled ng-click="updatead($event);">删除</button>
              </div>
              <table class="table  table-bordered table-ad" id="dataadtable">
                <thead>
                   <tr>
                      <th></th>
                      <th>广告名称</th>
                      <th>广告位</th>
                      <th>曝光量</th>
                      <th>点击量</th>
                      <th>消耗（元）</th>
                      <th>状态</th>
                      <th>结束时间</th>
                   </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in data | filter: place | filter: {status: stas}" >
                    <td>
                        <input type="checkbox" name="checkAll" onclick="setSelectAll();" value="{{x.status}}" class="radio-btn" ng-checked="isSelected(x.id)" ng-click="updateSelection($event,x.id)">
                    </td>
                    <td ng-click="openwin(x.id,x.update_ts)" style="cursor: pointer;">{{ x.name }}</td>
                    <td>{{ x.AdCategory.name }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td class="adtype">{{ x.status | status }}</td>
                    <td>{{ x.endDate }}</td>
                  </tr>              
                </tbody>
             </table> 
             
             

            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  <script type="text/ng-template" id="myModelContent.html">  

        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <form style="overflow: hidden;" ng-repeat="x in data | filter: {id: getId,update_ts:updatets}">
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">广告名:</lable>
                <div class="col-sm-4">
                  {{ x.name }}
                </div>
                <lable  class="col-sm-2 control-label">广告类型:</lable>
                <div class="col-sm-4">
                 {{ x.AdCategory.name }}
                </div>
              </div>
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">广告方式:</lable>
                <div class="col-sm-4">
                  {{ x.AdCategory.charge_type }}
                </div>
                <lable  class="col-sm-2 control-label">广告单价:</lable>
                <div class="col-sm-4">
                  {{ x.AdCategory.price / x.AdCategory.amount}}元／次
                </div>
              </div>
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">投放年龄:</lable>
                <div class="col-sm-4">
                  {{ x.age_min }}－{{ x.age_max }}
                </div>
                <lable  class="col-sm-2 control-label">投放人群:</lable>
                <div class="col-sm-4">
                 {{ x.family |family }}
                </div>
              </div>
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">投放地点:</lable>
                <div class="col-sm-4">
                  {{ x.district | distri }}
                </div>
                <lable  class="col-sm-2 control-label">投放等级:</lable>
                <div class="col-sm-4">
                  {{ x.level_min}}－{{ x.level_max }}
                </div>
              </div>
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">投放人群活跃度:</lable>
                <div class="col-sm-4">
                  {{ x.vitality | vital }}
                </div>
                <lable  class="col-sm-2 control-label">投放人群许愿倾向:</lable>
                <div class="col-sm-4">
                 {{ x.activity | acti }}
                </div>
              </div>
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">投放开始日期:</lable>
                <div class="col-sm-4">
                  {{ x.beginDate }}
                </div>
                <lable  class="col-sm-2 control-label">投放结束日期:</lable>
                <div class="col-sm-4">
                  {{ x.endDate }}
                </div>
              </div>
              <div class="form-group" style="overflow: hidden;">
                <lable  class="col-sm-2 control-label">投放开始时间:</lable>
                <div class="col-sm-4">
                  {{ x.beginTime | time }}
                </div>
                <lable  class="col-sm-2 control-label">投放结束时间:</lable>
                <div class="col-sm-4">
                 {{ x.endTime | time }}
                </div>
              </div>


            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="newset()">
            编辑
            </button>
            <button class="btn btn-warning" ng-click="cancel()">退出</button>
        </div>
    </script>





    <!-- /.content -->
    <script>
       $("#dataadtable").DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": false,
          "info": true,
          "autoWidth": false,
          "language": {
            "info": "show page _PAGE_ of _PAGES_"
          }
       });
    </script>
</body>
</html>
