<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>广告管理</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-university"></i>主页</a></li>
        <li class="active">投放广告</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" >
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body box-main" ng-controller="adingCtrl2">
            <h4 class="ad-title">
              <span>1.投放目标设定</span>
              <span class="span-col">2.投放时间设定</span>
            </h4>
            <form  class="form-set">
              <div class="formtwo formstep">
                
                <div class="form-group form-detail">
                  <span style="float: left;line-height: 2.5;">投放日期:</span>
                  <div id="dCon_demo1"style="float: left;width: 0px;height:0;overflow: hidden;">
                    开始时间：2012-06-12
                    <br/>
                    结束时间：2012-07-10
                    <br/>
                    </div>
                    <div id="datePicker_demo1" style="float: left;margin-left: 12%;">
                      <input type="text" name="date" id="date_demo1" value="" class="gri_date" style="float:left;height: 32px;border-radius: 5px;" />
                      
                    </div> 
                </div>
                <div class="form-group form-detail">
                  <span>投放时段:</span>
                  <select class="form-control startime" style="display: inline-block;width: 15%;margin-left: 12%;">
                    <option>00:00</option>
                    <option>01:00</option>
                    <option>02:00</option>
                    <option>03:00</option>
                    <option>04:00</option>
                    <option>05:00</option>
                    <option>06:00</option>
                    <option>07:00</option>
                    <option>08:00</option>
                    <option selected>09:00</option>
                    <option>10:00</option>
                    <option>11:00</option>
                    <option>12:00</option>
                    <option>13:00</option>
                    <option>14:00</option>
                    <option>15:00</option>
                    <option>16:00</option>
                    <option>17:00</option>
                    <option>18:00</option>
                    <option>19:00</option>
                    <option>20:00</option>
                    <option>21:00</option>
                    <option>22:00</option>
                    <option>23:00</option>
                    <option>24:00</option>

                  </select>
                  —
                  <select class="form-control endtime" style="display: inline-block;width: 15%;">
                    <option>00:00</option>
                    <option>01:00</option>
                    <option>02:00</option>
                    <option>03:00</option>
                    <option>04:00</option>
                    <option>05:00</option>
                    <option>06:00</option>
                    <option>07:00</option>
                    <option>08:00</option>
                    <option>09:00</option>
                    <option>10:00</option>
                    <option>11:00</option>
                    <option>12:00</option>
                    <option>13:00</option>
                    <option>14:00</option>
                    <option>15:00</option>
                    <option>16:00</option>
                    <option>17:00</option>
                    <option>18:00</option>
                    <option>19:00</option>
                    <option>20:00</option>
                    <option>21:00</option>
                    <option selected>22:00</option>
                    <option>23:00</option>
                    <option>24:00</option>
                  </select>
                </div>
                <div style="display: block;width: 100%;text-align: center;margin-top: 55px;">
                  <button class="btn btn-primary" id="prevStep" style="width: 18%;" ng-click="prevstep();">上一步</button>
                <button class="btn btn-primary" style="width: 18%;margin-left: 5%;" id="adPost" ng-click="adpost();">提交</button>
                </div>

              </div>
              
              
            

            </form>

            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->




</body>
</html>
