<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>数据报表</h1>
      <ol class="breadcrumb">
        <li><a ui-sref="home" href="#/home"><i class="fa fa-university"></i>主页</a></li>
        <li class="active">数据报表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body box-main" ng-controller="dataCtrl">
              <div class="ad-time">
                <em>广告时间：</em>
                <button type="button" class="btn btn-default">今天</button>
                <button type="button" class="btn btn-default">昨天</button>
                <button type="button" class="btn btn-default">最近七日</button>
                <button type="button" class="btn btn-default">最近30日</button>
                <div class="ta_date" id="div_date1" ng-controller="dateCtrl">
                  <span class="date_title" id="date1"></span>
                  <a class="opt_sel" id="input_trigger1" href="javascript:void(0);">
                    <i class="i_orderd"></i>
                  </a>
                </div>
                <div id="datePicker1"></div>
              </div>
              <!-- 广告名称，位置 -->
              <div class="form-group ad-place clearfix">
                  <label>广告名称:</label>
                  <select class="form-control" ng-model="selectedName" ng-options=" x.Name as x.Name for x in data">    
                  </select>
                </div>
              <div class="form-group ad-place clearfix">
                  <label>广告位置:</label>
                  <select class="form-control" ng-model="selectedPlace" ng-init="selectedPlace" ng-options=" x.palce as x.palce for x in data | filter: selectedName">
                  <option value="">请选择</option>
                  </select>
              </div>
              <!-- 关键指标 -->
              <ul class="data-bacic">
                <li>关键指标</li>
                <li class="clearfix" ng-repeat="x in data | filter: selectedName | filter: selectedPlace">
                  <div class="data-detail">
                    <strong>曝光量</strong>
                    <span>{{ x.pug }}</span>
                  </div>
                  <div class="data-detail">
                    <strong>点击量</strong>
                    <span>{{ x.click }}</span>
                  </div>
                  <div class="data-detail">
                    <strong>点击率</strong>
                    <span>{{ x.clickpre }}</span>
                  </div>
                  <div class="data-detail">
                    <strong>总花费(元)</strong>
                    <span>{{ x.count }}</span>
                  </div>
                </li>
              </ul>
              <!-- 关系指标趋势图 -->
              <div class="chart-responsive" ng-controller="MyCtrl">
                  <h3>关系指标趋势图</h3>
                  <div
                  line-chart
                  line-post-units="'k'"  
                  line-data='[
                              { y: "2006-07", a: 100},
                              { y: "2006-06", a: 75},
                              { y: "2006-05", a: 50},
                              { y: "2006-04", a: 75},
                              { y: "2006-03", a: 50},
                              { y: "2006-02", a: 75},
                              { y: "2006-01", a: 100}
                            ]; '
                  line-xkey='y'
                  line-ykeys='["a"]'
                  line-labels='["关键指标"]'
                  line-colors='["#31C0BE"]'
                  line-x-label-format="xLabelFormat"
                  line-date-format="dateFormat">
                  </div>
              </div>
              <!-- 关键指标明细 -->
              <div class="table-responsive data-table">
                <table class="table  table-bordered table-hover">
                    <caption>关键指标明细</caption>
                    <thead>
                       <tr>
                          <th>时间</th>
                          <th>曝光量</th>
                          <th>点击量</th>
                          <th>点击率</th>
                          <th>总花费（元）</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="x in data | filter: selectedName | filter: selectedPlace">
                          <td>{{ x.date }}</td>
                          <td>{{ x.pug }}</td>
                          <td>{{ x.click }}</td>
                          <td>{{ x.clickpre }}</td>
                          <td>{{ x.count }}</td>
                       </tr>               
                    </tbody>
                 </table>
              </div>     

          

            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->


</body>
</html>
