<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>主页</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-university"></i>主页</a></li>
        <li class="active">Home</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content" >
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body box-main">
              <!-- 财政支出 -->
              <ul class="money-bacic">
                <li>基本财务信息</li>
                <li class="clearfix">
                  <div class="money-more">
                    <span>余额（元）</span>
                    <span>40，000</span>
                  </div>
                  <div class="money-out">
                    <span>昨日支出（元）：116</span>
                    <span>上周支出（元）：813</span>
                  </div>
                  <a><button type="button" class="btn btn-primary">查看</button></a>
                </li>
              </ul>
              <!-- 投放中的广告 -->
             <div class="table-responsive ad-out">
                <table class="table table-bordered table-hover">
                    <caption style="border: 2px solid #ccc;border-bottom: 0;">投放中的广告</caption>
                    <thead>
                       <tr>
                          <th>广告名称</th>
                          <th>广告类型</th>
                          <th>消耗（元）</th>
                          <th>距离结束</th>
                       </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in data | filter: {status: 2}">
                        <td>{{ x.name }}</td>
                        <td>{{ x.AdCategory.name }}</td>
                        <td>{{ }}</td>
                        <td>{{ x.endDate }}</td>
                      </tr>
                                           
                    </tbody>
                 </table>
              </div>     

            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->




</body>
</html>
