<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>新建广告</h1>
      <ol class="breadcrumb">
        <li><a href="../../home.html"><i class="fa fa-university"></i>主页</a></li>
        <li class="active">新建广告</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" ng-controller="newadCtrl">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body box-main">
              <form class="newad" name="form" onsubmit="return check()">
                <div>
                  <label>广告名称 </label>
                  <input type="text" name="adname" class="adname" placeholder="请输入广告名" ng-model="adname">
                </div>
                <div>
                  <label>广告类型</label>
                   
                  <select class="form-control" name="type" id="adType">
                    <option value="chose">请选择广告类型</option>
                    <option ng-repeat="x in data" value="{{ x.id }}">{{ x.name }}</option>
                  </select>
                </div>
                <div class="adimg" id="adImgVideo">
                  <label>广告位图片/视频</label>
                  <span style="display: none; margin-left: 5%;">图片/视频大小不超过10M，支持jpg图片／mp4视频格式</span> 
                  <!-- <a id="avatar" class="btn btn-info btn-flat">单击选择要上传的图片／视频</a> -->
                  
                    <div class="imgbefore" id="imgPlace">
                    <img src="../../dist/img/upload.jpg" class="photo">
                      <input type="file" id="avatar">
                    </div> 

                </div>
                <a href="javascript:void(0);" class="btn btn-block btn-primary btn-flat" style="width: 40%;margin: 50px 0 0 22%;" ng-click="postresource();"> 提交</a>
              </form>
                <input type="hidden" ng-repeat="x in result | filter: adname" value="{{ x.id }}" id="getNum">
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->


</body>
</html>
